<footer class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <p>&copy {{currentYear}} {{info.creator.name}}</p>
                </div>
                <div class="eight wide right aligned column">
                    {{info.creator.student_number}}
                </div>
            </div>
        </div>
</footer>