<nav class="ui stackable menu">
    <header class="ui header item"> <a href="/"> 
        <img src="/bromus-logo.png"> 
    </a></header>
    <div class="right menu">
        <a id="/catalog" class="item" href="/catalog"> Catalog </a>
    </div>
</nav>

<script>
    document.querySelector('#{{id}}').classList.add('active')
</script>