{{> menu id="catalog"}}

<section class="ui left aligned middle aligned segment">

    <h2>FerBromHata App Catalog</h2>
    <p>
        Catalog will be displayed here
    </p>
</section>

{{> footer}}