{{> menu}}

<section class="ui center aligned middle aligned segment">
    <h2>Welcome to the FerBromHata App!</h2>
    <p>
        This app will allow users to order and maintain a collection of FerBromHata
    </p>
</section>