html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 50px;
  background-image: url("./bromus-background.png");
  background-repeat: repeat-x;
  background-attachment:fixed;
  background-position: left top;
  background-size: cover;
}

.ui.menu .header {
  height: 3em;  
  padding: 0; 
}

.ui.menu .header img {
  height: 100%; 
  width: auto; 
}


