html {
  box-sizing: border-box;
  font-size: 1rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 50px;
  background-image: url("./bromus-background.png");
  background-repeat: repeat-x;
  background-attachment:fixed;
  background-position: left top;
  background-size: cover;
}
@media only screen{
  .ui.container {
    width: 90% !important;
    max-width: none !important;
  }
}

.ui.segment {
  padding: 0;
  margin: 0;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.ui.segment h2,
.ui.segment p {
  text-align: center;
}
.ui.segment p {
  color: #525655;
}

#textPhoto {
  display: flex;
  width: 100%;
  height: 450px;
}

#whiteText{
  align-items: flex-start;
  text-align: left;
  background-color: #004C40;
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8%;
}

#titleImg{
  flex:1;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#titleImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#contentImg {
  flex:1;
  width: 50%;
  height: 100%;
  background-color: #EBFFF5;
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contentImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;  
}

#blackText {
  background-color: #EBFFF5;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
}

#blackText h2, 
#blackText p {
  text-align: left;
}

#blackText button {
  color: black;
  text-decoration: none;
  font-weight: bold;
  background-color: #00DC75;
  border: none;
  border-radius: 150px;
  padding: 15px 35px;
  cursor: pointer;
  margin-top: 10px;
}

#blackText button:hover {
  color: white;
  background-color: #004C40;
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1500px){
  #textPhoto {
    height: 500px;
  }

  #whiteText {
    flex: 4;
  }

  #titleImg {
    flex: 6;
    width: 60%;
  }

  #titleImg img {
    height: auto;
    transform: scale(1.1);
    transform-origin: center left;
    transition: transform 1s ease;
  }
}

.ui.menu .header {
  height: 3em;  
  padding: 0; 
}

.ui.menu .header img {
  height: 100%; 
  width: auto; 
}


